body {
  font-family: "Arial", Times, serif;
  background: rgb(178, 188, 255);
  text-align: left;
}

h1 {
  color: rgb(12, 12, 12);
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
